/* Navigation */
nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: $mountain-blue;
  list-style: none;

  li {
    margin: 0.5rem 1rem;

    a {
      color: white;
      font-weight: bold;
    }
  }
}