// _containers.scss
.guidelines-container,
.contribute-container,
.about-resources-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

